.course-landing{
	font-family: 'Slabo 27px', serif;
}
.course-landing h3{
	font-size: 30px;
	text-transform: capitalize;
	font-family: 'Slabo 27px', serif;
	color: var(--blue);
	margin-bottom: 15px;
}
.course-landing h4{
	font-size: 24px;
	line-height: 24px;
	text-transform: capitalize;
	font-family: 'Slabo 27px', serif;
	color: var(--blue);
	margin-bottom: 15px;
}
/*===========course top=============*/
.course-top{
	padding-top: 40px;
	text-align: center;
}
/* .course-top .logo{
	margin-bottom: 60px;
} */
.course-top .datetime{
	font-size: 24px;
}
.course-top h1{
	font-family: 'Slabo 27px', serif;
	font-size: 72px;
	margin:30px 0;
	margin-bottom: 60px;
	text-transform: capitalize;
	color: var(--blue);
}
.course-top .combine{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

}
.course-top .combine span{
	font-size: 24px;
	margin-right: 10px;
}
.course-top .regi-now{
	margin: 180px 0 60px;
}
.course-top .regi-now p{
	font-size: 24px;
	line-height: 24px;
}
.course-top .regi-now a{
	font-size: 24px;
	color: var(--blue);
}
/*==mobile-device==*/
@media (max-width: 575px) {
	.course-top {
		padding: 30px 0;
	}
	.course-top .logo {
		margin-bottom: 30px;
	}
	.course-top h1 {
		font-size: 36px;
		margin: 20px 0;
	}
	.course-top .regi-now {
		margin: 50px 0 30px;
	}
}
/*==tablet-device==*/
@media (min-width: 576px) and (max-width: 767px) {
	.course-top {
		padding: 30px 0;
	}
	.course-top .logo {
		margin-bottom: 30px;
	}
	.course-top h1 {
		font-size: 48px;
		margin: 20px 0;
	}
	.course-top .regi-now {
		margin: 50px 0 30px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.course-top{
		padding: 40px 0;
	}
	.course-top .regi-now {
		margin: 40px 0;
	}
}

/*==========top-menu===========*/
.content {
	padding: 40px;
  }
  
  .sticky {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }

 
.top-menu{
	background: #ebebeb;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	padding:0 1rem;
}
.top-menu ul{
	width: 100%;
}
.top-menu ul li{
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	width: 100%;
}
.top-menu ul li a{
	display: flex;
	justify-content: center;
	width: 100%;
	padding:13px 0;
	color: #637280;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:var(--blue);
}
@media (max-width: 991px) {
	.top-menu {
		padding: 0.5rem 1rem;
	}
}
/*=========video area===========*/
.video-area{
	padding: 50px 0;
	overflow: hidden;
}
.video-area iframe{
	display: block;
	margin: 0 auto 50px;
	padding: 20px;
	border: 1px solid #ebebeb;
}
.video-area p,
.video-area li{
	font-size: 18px;
	line-height: 24px;
	list-style: none;
}
.video-area p{
	margin-bottom: 25px;
}
.video-area .description-top{
	text-align: center;
}
.video-area .description-left img{
	object-fit: contain;
}
/*===========advantage=================*/
.advantage h3{
	text-align: center;
}
.advantage p{
	text-align: center;
}
.advantage .top-left p,
.advantage .top-right p,
.advantage .bottom-left p,
.advantage .bottom-right p{
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}
.advantage .top-left,
.advantage .top-right{
	padding: 40px 40px 200px 180px;
}

.advantage .top-left{
	background: #f1f8e9;
}
.advantage .top-right{
	background: #e1f5fe;
}

.advantage .advantage-bottom{
	margin:-150px 100px 80px;
	color: #fff;
}
.advantage .advantage-bottom h4{
	color: #fff;
}

.advantage .bottom-left,
.advantage .bottom-right{
	padding: 40px 40px 160px 100px;
}

.advantage .bottom-left{
	background: #0288d1;
}
.advantage .bottom-right{
	background: #263238;
}
/*==mobile-device==*/
@media (max-width: 991px) {
	.advantage .top-left, .advantage .top-right {
		padding: 40px;
	}
	.advantage .advantage-bottom {
		margin:0;
	}
	.advantage .bottom-left, .advantage .bottom-right {
		padding: 40px;
	}

}

/*==========curriculam=========*/
.curriculam{
	padding:0 0 100px;
	text-align: center;
}
.curriculam .section-title{
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 50px;
}
.curriculam .single-curriculam {
	position: relative;
	padding: 40px;
	border:0.5px solid #d7d7d7;
	transition: 0.5s;
	background: #fff;
}
.curriculam .single-curriculam:hover{
	transform: scale(1.03);
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
	z-index: 2;
}

.curriculam .single-curriculam p{
	font-size: 18px;
	line-height: 24px;
}
/*==mobile-device==*/
@media (max-width: 575px) {
	.curriculam .section-title {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 30px;
	}
	.curriculam .single-curriculam {
		margin-bottom: 20px;
	}
}

/*=========speaker===========*/
.speaker{
	padding: 100px 0;
	background: #0288d1;
	color: #fff;
	text-align: center;
}
.speaker h3{
	color: #fff;
	margin-bottom: 80px;
}
.speaker .single-speaker{
	text-align: left;
}
.speaker .single-speaker .img-wrap{
	position: relative;
	text-align: left;
	width: 160px;
	height: 160px;
}

.speaker .single-speaker:hover .social{
	right: -95px;
}

.speaker .social{
	position: absolute;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #00b8d4;
	padding: 13px;
	right: -21px;
	top: 22%;
	border-radius: 0 22.5px 22.5px 0;
	transition: 0.5s;
}
.speaker .social a{
	font-size: 18px;
	padding-right: 8px;

}
.speaker img{
	position: relative;
}
.speaker .speaker-info{
	list-style: none;
	text-align: center;
	padding-right: 15px;
}
.speaker .speaker-info li:first-child{
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
	margin-top:5px;
}
.speaker .speaker-info li:last-child{
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}

.speaker .social a{
	color: #fff;
}
/*==mobile-device==*/
@media (max-width: 575px) {
 .speaker .single-speaker .img-wrap{
	margin: auto;
 }
 .speaker .single-speaker{
	margin-bottom: 20px;
  }
  .speaker .social a {
    font-size: 15px;
    padding-right: 6px;
  }
  .speaker .social {
    right: -17px;
  }
  .speaker .single-speaker:hover .social{
	right: -78px;
}
}
/*==tablet-device==*/
@media (min-width: 576px) and (max-width: 767px) {

}
/*==notebook-device==*/
@media (min-width: 768px) and (max-width: 991px) {
    .speaker .single-speaker{
	margin-bottom: 20px;
  }
  .speaker .single-speaker .img-wrap{
  	margin: auto;
  }
}
/*==laptop-device==*/
@media (min-width: 992px) and (max-width: 1199px) {

}
/*==desktop-device==*/
@media (min-width: 1200px){

}
/*==========details6===========*/
.details6{
	padding: 100px 0;
	color: #fff;
	text-align: center;
}
.details6 h3{
	margin-bottom:80px;
}
.details6 .single-details{
	padding: 25px;
	border:1px solid #ebebeb;
	text-align: left;
}
.details6 .single-details p{
	color: #637280;
}
/*============enroll============*/
.enroll{
	padding: 80px 0;
	text-align: center;
	background: #00b8d4;
	color: #fff;
	font-size: 18px;
}
.enroll a{
	width: 350px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 48px;
	line-height: normal;
	text-transform: uppercase;
	border: 5px solid #fff;
	margin: 25px auto;
	transition: 0.5s;
}
.enroll a:hover{
	color: #00b8d4;
	background: #fff;
}
/*==mobile-device==*/
@media (max-width: 575px) {
	.enroll a {
		width: 200px;
		height: 50px;
		font-size: 24px;
	}
}
