/*============footer=================*/
.footer{
    text-align: center;
    color: #666666;
    padding: 80px 0;
    position: relative;
    background: #f5f5f5;
    overflow: hidden;
}
.footer:before{
    content: "";
    position: absolute;
    background: url(../img/footer_bg.png) no-repeat;
    width: 100%;
    height: 100%;
    left: 35%;
    top: -12%;
}
.footer p{
    width: 600px;
    display: block;
    margin:20px auto;
}
.footer a{
    position: relative;
}
.footer li{
    display: inline-block;
}
.footer li i{
    color: #666666;
    padding:0 3px;
}
.footer li i:hover{
    color: var(--blue);
}
/*==mobile-device==*/
@media (max-width: 575px) {
    .footer p {
        width: auto;
        font-size: 14px;
    }
    .footer .pad {
        padding: 60px 0;
    }
}
/*==tablet-device==*/
@media (min-width: 576px) and (max-width: 767px) {
    .footer p {
        width: auto;
    }
}







/*go top css*/
.go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    opacity: 0.5;
    transition: opacity 0.1s;
}
.go-top a {
    color: var(--blue);
}
.go-top:hover {
    opacity: 1;
}
@media (max-width: 768px){
    .go-top a .fa-stack {
        font-size: 1.5rem;
    }
}