/*
Theme Name: 
Theme URI: 
Author: Pondit
Author URI: https://
Version: 1.0
Description: This is the standard html template
License: 
License URI: 
Text Domain: twentyseventeen
Tags: business template, company website
Type: Company,Business,Personal
*/
/*Table of content*/

:root {
    --black:#000;
    --blue:#0288d1;
    --gray:#ebebeb;
    --ash: #637280;
    --box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
/*==========global css=======*/
body{
    font-family: 'Roboto', sans-serif;
    color: #637280;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
p{
    margin: 0;
    font-weight: 400;
    line-height: 24px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color:var(--black);
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    margin-bottom: 0!important;
    padding-left: 0;
}
li {
    font-weight: normal;
    line-height: 24px;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
:focus{
    outline: 0px solid transparent !important;
    box-shadow: none!important;
}

/*==genetal css*/
/*go top css*/
.go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    opacity: 0.5;
    transition: opacity 0.1s;
}
.go-top a {
    color: var(--blue);
}
.go-top:hover {
    opacity: 1;
}
@media (max-width: 768px){
    .go-top a .fa-stack {
        font-size: 1.5rem;
    }
}
/*all pages page heading section*/
.page-heading{
    background: url(../img/improve-bg.jpg) repeat;
}
.page-heading .inner{
    text-align: center;
    padding: 80px 0;
    margin: 0 auto;
    max-width: 920px;
}
.page-heading .inner h2{
    text-transform: uppercase;
    font-weight: 300;
    color: var(--blue);
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
}
.page-heading .inner p{
    line-height: 30px;
    color: #637280;
    margin-bottom: 0;
    font-weight: 400;
}
.section-heading {
    font-size: 1.87rem;
    font-weight: lighter;
    color: var(--blue);
    text-transform: uppercase;
    line-height: 3rem;
    margin: 0;
    position: relative;
    margin-bottom: 1.875rem;
    font-weight: 300;
}
@media (max-width: 767px) {
    .section-heading {
        font-size: 1.3rem;
        line-height: normal;
        padding: 20px 0;
        text-align: center;
    }
}
.text-italic {
    font-style: italic;
}

.v-button{
    color: #637280;
    width: 162px;
    height: 45px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    text-transform: uppercase;
    border: 1px solid var(--gray);
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
    transition: 0.3s;
}

.v-button:hover{
    background: var(--blue);
    color: #fff;
    border: 1px solid var(--blue);
}
.button-effect {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: all 0.3s;
}
.button-effect::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background: #0288d1;
    height: 120%;
    width: 100%;
    transition: all 0.3s;
    z-index: -1;
}
.button-effect:hover {
    color: #fff !important;
    background-color: transparent;
}
.button-effect:hover::before {
    right: 0;
}
.pad{
    padding:100px 0;
}





/*====payment=====*/
.pay-step0{
    padding: 100px 0;
}
.pay-step0 .all-step span{
    width: 80px;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    background: #ebebeb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pay-step0 .all-step{
    position: relative;
}
.pay-step0 .all-step div{
    padding: 5px;
    border:1px dotted var(--blue);
    border-radius: 50%;
    position: relative;
    background: #fff;
}
.pay-step0 .all-step::before{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px dotted var(--blue);
    position: absolute;
    top: 50%;
    left: 0;
}
.pay-step0 .all-step .active span{
    background: var(--blue);
    color: var(--white);
}
/*====*/
.pay-step1{
    padding-bottom: 100px;
}
.pay-step1 input[type=number]::-webkit-inner-spin-button, 
.pay-step1 input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 

    margin: 0; 
}
.pay-step1 input[type=number]{
    -moz-appearance: textfield; 
}

.pay-step1 .step1-content{
    padding:50px 0;
}
.pay-step1 .step1-content{
    text-align: center;
}
.pay-step1 .step1-content span{
    display: block;
    color: var(--blue);
}
.pay-step1 form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.pay-step1 .form-inline .form-control{
    width: 100%;
    display: block;
    padding-left: 0;
}
.pay-step1 form input{
    border-bottom: 1px solid #637280;
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.pay-step1 .form-group{
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
.pay-step1 .form-group span{
    font-size: 14px;
}
.pay-step2 form input{
    border-bottom: 1px solid #637280;
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.pay-step1 .form-group{
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.pay-step2 {
    padding-bottom: 100px;
}
.pay-step2 .form-check-inline {
    margin-right: 0;
}


.pay-step2 .form-group,
.payment-details {
    margin-bottom: 30px;
}
.payment-details{
    /*display: none!important;*/
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #2d6987;
}
.payment-details input[type=number]::-webkit-inner-spin-button, 
.payment-details input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.payment-details input[type=number]{
    -moz-appearance: textfield; 
}
/*===step 3====*/
.pay-step3{
    padding-bottom: 100px;
}
.pay-step3 span{
    display: block;
    margin: auto;
}
.pay-step3 img{
    display: block;
    margin: auto;
    padding: 30px 0;
}

.pay-step3 .congra{
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
}
.pay-step3 .refer{
    padding: 20px 0;
}
.pay-step3 .go-course{
    padding: 10px 15px;
    background: var(--blue);
    color: var(--white);
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
    font-weight: 500;
    transition: 0.5s;
    border:1px solid transparent;

}
.pay-step3 .go-course:hover{
    padding: 10px 15px;
    background: var(--white);
    color: var(--blue);
    border:1px solid var(--blue);
}

.pay-step3 .pf{
    margin-bottom: 50px;
}
.form-group {
    position: relative;
}
/*input label style animation*/
.input-label {
    position: absolute;
    left: 1%;
    top: 0.3rem;
    transition: all 0.3s;
    cursor: text;
}
.input-label.active {
    transform: translateY(-100%);
    color: var(--blue);
    cursor: auto;
    font-size: 14px;
}

/*==mobile-device==*/
@media (max-width: 575px) {
.pay-step0 {
    padding: 35px 0;
}

.pay-step3 .go-course {
    padding: 8px 12px;
    font-size: 14px;
  }
}
/*==tablet-device==*/
@media (min-width: 576px) and (max-width: 767px) {
  .pay-step2 .another-gateway {
    white-space: normal;
}
}