/*=============header=========*/
.header-top {
    background-image: url(../img/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header-top .row {
    align-items: flex-start;
}
.logo img {
    height: 50px;
}
.phone {
    white-space: nowrap;
    color: #80909e;
    margin: 0;
}
.phone::before {
    font-family: "Font Awesome 5 free";
    content: "\f3cd";
    font-weight: bold;
    margin: 2px;
    margin-right: 8px;
}
.ragister {
    text-transform: uppercase;
    padding-top: 5px;
}

.ragister .log-in {
    margin-top: 7px;
    margin-right: 10px;
    display: inline-block;
    color: var(--ash);
}
.ragister .log-in:hover {
    color: var(--blue);
}
.ragister .sign-up {
     border: 1px solid var(--blue);
    padding: 0 18px;
    border-radius: 20px;
    line-height: 38px;
    color: #0288d1 !important;
    vertical-align: middle;
    display: inline-block;
}
.ragister .sign-up:hover {
    color: #fff !important;
    text-decoration: none;
}
@media (max-width: 575px) {
    .ragister .sign-up {
        font-size: 16px;
    }
}
/*==============================
nav style
=================================*/
.bg-custom {
    background-color: #ebebeb;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.header-bottom .navbar {
    padding: 0;
}
.header-bottom .nav-item {
    padding: 0 15px;
}

@media (min-width: 768px) {
    .header-bottom .navbar {
        padding: 0 15px;
    }
    .header-bottom .nav-item {
        padding: 0 15px;
    }
}

.header-bottom .navbar-toggler {
    border-color: transparent !important;
}

.header-bottom .nav-link {
    text-align: left;
    text-transform: uppercase;
    line-height: 2rem;
}
@media (max-width: 991px) {
    .navbar .dropdown-item:hover {
        background-color: var(--blue);
    }
}

.nav-link img {
    vertical-align: middle;
    margin-right: 0.5rem;
}


.navbar .dropdown-menu {
    width: 100%;
    box-shadow: 0px 3px 10px 0px rgba(10, 55, 90, 0.2) ;
    background-color: #ebebeb;
    padding-top: 0;
    padding-bottom: 0;
    top: 100%;
    overflow: hidden;
}
.dropdown:after {
    content: "";
    position: absolute;
    top: 95%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: block;

}
.navbar .dropdown-item:first-child {

}
.navbar .dropdown-item {
    text-transform: uppercase;
    border-bottom:  1px solid #d7d7d7;
    padding-top: 10px;
    padding-bottom: 10px;

}
.navbar .dropdown-item:last-child {
    border-bottom: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
@media (min-width: 576px) {
    .header-top .row {
        align-items: center;
    }
    .logo img {
        height: 80px;
    }
}
@media (min-width: 992px) {
    .header-top {
        background-position-y: -25px;
    }
    .logo img {
        height: 103px;
    }
}

.header-bottom .navbar-light .navbar-nav .active>.nav-link, 
.header-bottom .navbar-light .navbar-nav .nav-link.active, 
.header-bottom .navbar-light .navbar-nav .nav-link.show, 
.header-bottom .navbar-light .navbar-nav .show>.nav-link, 
.header-bottom .navbar-light .navbar-nav .nav-link:hover {
    color: #0288d1;
}
.header-bottom .navbar-light .navbar-nav .nav-link {
    line-height: 3rem;
    color: var(--black);
}
@media (min-width: 992px) {
    .header-bottom .nav-item {
        border-left: 1px solid #d7d7d7;
    }
    .header-bottom .nav-item:last-child {
        border-right: 1px solid #d7d7d7;
    }
    .header-bottom .nav-link {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 1000;
    transition: all 0.3s;
    transform: translateY(0);
}

@media (min-width: 992px) {
    .header-fixed.scrollDown {
        transform: translateY(-120%);
    }
}



/*==notebook-device==*/
@media (min-width: 768px) and (max-width: 991px) {

}