.navbar .dropdown-menu {
    width: 100%;
    box-shadow: 0px 3px 10px 0px rgba(10, 55, 90, 0.2) ;
    background-color: #ebebeb;
    padding-top: 0;
    padding-bottom: 0;
    top: 100%;
    overflow: hidden;
}
.dropdown:after {
    content: "";
    position: absolute;
    top: 95%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: block;

}
.navbar .dropdown-item:first-child {

}
.navbar .dropdown-item {
    text-transform: uppercase;
    border-bottom:  1px solid #d7d7d7;
    padding-top: 10px;
    padding-bottom: 10px;

}
.navbar .dropdown-item:last-child {
    border-bottom: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}

/*========success2 story===============*/
.success2{
	color: #637280;
	background: url(img/success2-b.jpg);
	background-size: 100% 100%;
	padding: 140px 0;
}
.success2 .single-success2{
	padding: 20px;
	box-shadow: 0 0 10px 3px  #ddd;
	border-radius: 15px;
	background: #ffffff;
	direction: ltr;
	margin-bottom: 30px;
	
}
.success2 .single-success2 ul{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.success2 .single-success2 ul li{
	list-style: none;
	margin-right:5px;
}

.success2 .success2-content{
	margin:10px 0;
}
.success2 .single-success2 ul li a{
	color: #637280;
	border:1px solid #ebebeb;
	padding: 10px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
	line-height: 0;
}
.success2 .single-success2 ul li i{
	text-align: center;
}
.success2 .single-success2 ul a:hover{
	background: #0288d1;
	color: #637280;
	border:1px solid #fff;
}
.success2 .single-success2 ul li:hover a{
	color: #ffffff;
}
.success2 .single-success2 .s-p{
	margin-bottom: 0;
}
.success2 .single-success2 a.read-more{
	display: block;
	text-align: right;
	text-transform: capitalize;
	border: 1px solid #637280;
	padding: 4px;
	border-radius: 3px;
	color: #637280;
	text-align: center;
	transition: 0.3s;
	width: 95px;
	float: right;
display: block;
}
.success2 .single-success2 a.read-more:hover{
	background:var(--blue);
	color: var(--white);
	border: 1px solid var(--white);
}
/*==mobile-device==*/
@media (max-width: 575px) {

}
/*==tablet-device==*/
@media (min-width: 576px) and (max-width: 767px) {

}
/*==notebook-device==*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*==laptop-device==*/
@media (min-width: 992px) and (max-width: 1199px) {

}
/*==desktop-device==*/
@media (min-width: 1200px){

}
/*==============single-success details================*/
.success-details{
	padding: 100px 0;
}
.success-details .success-details-left{
	text-align: center;
}
.success-details .success-details-left img{
	border-radius: 50%;
}
.success-details .success-details-left h2{
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 30px;
}
.success-details .success-details-left p{
	text-transform: capitalize;
	color: #637280;
}
.success-details .success-details-left ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-top: 10px;
}
.success-details .success-details-left ul a{
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 8px;
	border: 1px solid #ebebeb;
	margin:0 5px;
	border-radius: 50%;
	color: #637280;
	transition: 0.3s;
}
.success-details .success-details-left ul a:hover{
	background: var(--blue);
	border: 1px solid #fff;
	color: #fff;
}
/*single-details-right*/
.success-details .success-details-right h5,p,span{
	color: #637280;
	transform: translateY(-6px);
	display: block;
}
.success-details .success-details-right .experience-list{
	padding: 0 0 15px;
	position: relative;
	padding-left: 15px;
	border-left: 1px dashed var(--blue);
}
.success-details .experience-list:last-child{
	border-left: 1px dashed transparent;
}

.success-details .success-details-right .exp-h5{
	padding-bottom: 15px;
}

.success-details .success-details-right .experience-list:before{
	position: absolute;
	display: block;
	height: 5px;
	width: 5px;
	content: " ";
	top: 0;
	left: 0;
	border: 2px solid var(--blue);
	border-radius: 50%;
	transform: translateX(-51%);
}

.success-details .success-details-right h6{
	color: #637280;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 9px;
}
/*==mobile-device==*/
@media (max-width: 575px) {
  
}
/*==tablet-device==*/
@media (min-width: 576px) and (max-width: 767px) {
  
}
/*==notebook-device==*/
@media (min-width: 768px) and (max-width: 991px) {
  
}
/*==laptop-device==*/
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/*==desktop-device==*/
@media (min-width: 1200px){
  
}

